:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size:smaller;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #F5F2E4;
    border-bottom-width: 0.6rem;
    border-bottom-style: solid;
    border-image: linear-gradient(180deg, #333333, #fff);
    border-image-slice:110;
}

#topHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    height: fit-content;
    width: fit-content;
    width: 8%;
    
}

#logo img {
    width: 100%;
    margin-inline-end: 0;
    display: block;
    cursor: pointer;

}

#topHeader ul {
    display: flex;
    list-style: none;
    width:92%;
    justify-content: space-between;
    margin: 20px 20px;
    align-items: center;

}
#topHeader ul li input{
   
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 10px;
    margin: 0px 8px;
    border-radius: 11.1758px;
    border: none;

}
#topHeader ul li a{
    
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 10px;
    margin: 0px 8px;
    border-radius: 11.1758px;
    border: none;
    color: black;
    text-decoration: none;

}
#topHeader #searchBtn{
    background-color: #49A787;
    cursor: pointer;
    box-shadow: 0px 0px 5px grey;
}
#topHeader #searchBtn:hover{
    background-color: #9ADDB9;
}
#topHeader #searchText{
    border: solid;
    border-color: black;
    width: 22rem;
}
#topHeader #arEnBtn{
    background-color: #8D84DA;
    border-radius: 16.6376px;
    box-shadow: 0px 0px 5px grey;
}
#topHeader #loginBtn{
    background-color: #49A787;
    box-shadow: 0px 0px 5px grey;
}

#topHeader h1{
    display:block;
    font-family: Calisto MT;
    font-size: 2.2rem;
    font-weight:500;
    color: #0095D7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* End of header */
/* Starting of main */
main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: fit-content;
}
main img{
    display: block;
    width:35%;
    margin: 2.7rem 2rem;
}

#paraCont{
    margin: 2.7rem 2rem;
    background-image: url("./Images/Asset\ 9.png");
    background-size: cover;
    position: relative;
    width: 70%;
}

#contContainer{
    position: absolute;
    top: 30%;
}
#paraCont h1{
    font-weight: 350;
    text-align: center;
    color: #8D84DA;
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

#paraCont p{
    font-size: 1.5rem;
    font-weight:350;

    text-align: center;
}

/* End of main */

/* start of Footer */

footer{
    background-color: #49A787;
    position: relative;
    display: flex;
    padding: 2.5rem 2rem;
    justify-content: space-between;
}

footer #contactInfo{
    font-weight: 350;
    font-size: 1.2rem;
}

footer #contactInfo p{
    margin: 0.5rem 0;
}

footer h4{
    font-weight: 250;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer #social{
    font-size:2.5rem;
    margin-top: 2rem;
}
#footer #socail a{
    color: black;
    
}
footer #social i{
    margin-left: 2rem;
    color: black;
}