:root {
    --bc: black;
    --fontColor: red;
    /* --celadon: #A8D8C2ff;
    --white: #FFFFFFff;
    --cambridge-blue: #8BC2B5ff;
    --french-gray: #C0CBD2ff;
    --white-2: #FFFFFFff; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size:smaller;
}

header {
    background-color: #F5F2E4;
    border-bottom-width: 0.6rem;
    border-bottom-style: solid;
    border-image: linear-gradient(180deg, #333333, #fff);
    border-image-slice:110;
}

#topHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    height: fit-content;
    width: fit-content;
    width: 8%;
    
}

#logo img {
    width: 100%;
    margin-inline-end: 0;
    display: block;

}

#topHeader ul {
    display: flex;
    list-style: none;
    width:92%;
    justify-content: space-between;
    margin: 20px 20px;
    align-items: center;

}
#topHeader ul li input{
    font-family: 'calibri';
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 10px;
    margin: 0px 8px;
    border-radius: 11.1758px;
    border: none;

}
#topHeader #searchBtn{
    background-color: #49A787;
}
#topHeader #searchText{
    border: solid;
    border-color: black;
    width: 22rem;
}
#topHeader #arEnBtn{
    background-color: #8D84DA;
    border-radius: 16.6376px;
}
#topHeader #loginBtn{
    background-color: #49A787;
}

#topHeader h1{
    display:block;
    font-family: Calisto MT;
    font-size: 2.2rem;
    font-weight:500;
    color: #0095D7;
    position: absolute;
    left: 45%;
    top: 35%;
}

/* End of header */