#faqBtn {
    background-color: #0095D7;
    box-shadow: 0px 0px 5px grey;
}

#faqBtn:hover {
    background-color: #4ebbea;
}

#logOutBtn {
    background-color: #49A787;
    box-shadow: 0px 0px 5px grey;
}

#logOutBtn:hover {
    background-color: #9ADDB9;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: fit-content;
    margin-bottom: 4rem;
}

main .manage-accounts {
    border: solid 1px grey;
    padding: 1.2rem;
    border-radius: 1.5rem;
}

main .manage-accounts h1 {
    color: #0095D7;
    border-bottom: solid #0095D7 0.2rem;
    margin-bottom: 2rem;
}

main .manage-accounts .new-account {
    padding-bottom: 1rem;
    border-bottom: solid #0095D7 0.2rem;
    padding-bottom: 2rem;
}

main .manage-accounts .new-account input {
    background-color: #49A787;
    padding: 0.8rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 0 0.5rem grey;
    cursor: pointer;
}

main .manage-accounts .new-account input:hover {
    background-color: #9ADDB9;
    color: black;
}

main .manage-accounts .account-filter {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main .manage-accounts .account-filter .btn {
    /* background-color: #0095D7; */
    border: solid #0095D7 0.18rem;
    padding: 0.8rem;
    border-radius: 0.6rem;
    /* border:none; */
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 0 0.5rem grey;
    margin-right: 1.5rem;
    background-color: white;
    cursor: pointer;
}

main .manage-accounts .account-filter .active {
    background-color: #0095D7;
    border: none;
    color: white;

}

main .manage-accounts .accounts-table {
    display: none;
}

main .manage-accounts .accounts-table.active {
    display: block;
}

main .manage-accounts .accounts-table table {
    text-align: left;
    font-size: 1.2rem;
    border-spacing: 0;
    margin-bottom: 2rem;
    border-collapse: collapse;
    border-bottom: solid 0.1rem rgb(202, 202, 202);
}

main .manage-accounts .accounts-table table th {
    background-color: #0095D7;
    font-weight: 550;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 2rem;
    border-top: solid black 0.15rem;
    border-bottom: solid black 0.15rem;
    color: white;
}

main .manage-accounts .accounts-table table tr {
    border: solid grey 0.1rem;
}

main .manage-accounts .accounts-table table td {

    font-weight: 550;
    padding: 0.5rem;
    border-right: solid 0.1rem rgb(202, 202, 202);
    border-left: solid 0.1rem rgb(202, 202, 202);
    margin: 0;
}

.manage-accounts .accounts-table table td button,
.manage-accounts .accounts-table table td input[type="submit"] {
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
    border: none black 0.11rem;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 0.2rem grey;
    background-color: rgb(250, 41, 41);
    color: white;
    width: 100%;
}

.manage-accounts .accounts-table table td:last-of-type button {
    /* margin-left: 0.5rem; */
    background-color: #0095D7;
    color: white;
}

.manage-accounts .accounts-table table td button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/* Edit table form */

.manage-accounts .accounts-table table tr:nth-of-type(odd) {
    display: none;
    background-color: rgba(240, 240, 240, 0.616);
}

.manage-accounts .accounts-table table tr:nth-of-type(1) {
    display: table-row;
}

.manage-accounts .accounts-table table tr:nth-of-type(odd) input {
    padding: 0.4rem;
    border-radius: 0.6rem;
    border: solid rgba(128, 128, 128, 0.349) 0.1rem;
    size:inherit;
   
}
.manage-accounts .accounts-table table tr:nth-of-type(odd) input[type="number"]::-webkit-inner-spin-button, .manage-accounts .accounts-table table tr:nth-of-type(odd) input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0
}

.manage-accounts .accounts-table table tr:nth-of-type(odd) button {
    background-color: #8D84DA;
}

.manage-accounts .accounts-table table tr:nth-of-type(odd) td:last-of-type input {
    background-color: #49A787;
    padding: 0.4rem 1rem;
    border: none black 0.11rem;

}

/* .manage-accounts .accounts-table#students table tr:nth-of-type(odd) td:nth-of-type(2) input {
    width: 3rem;
}

.manage-accounts .accounts-table#students table tr:nth-of-type(odd) td:nth-of-type(4) input {
    width: 4rem;
}

.manage-accounts .accounts-table#students table tr:nth-of-type(odd) td:nth-of-type(5) input {
    width: 8rem;
}

.manage-accounts .accounts-table#students table tr:nth-of-type(odd) td:nth-of-type(7) input {
    width: 8rem;
} */





/* faq page management  */
main .manage-faq {
    border-left: solid #0095D7 0.2rem;
    height: fit-content;
    padding-left: 1rem;
}

main .manage-faq h1 {
    color: #49A787;
    margin-bottom: 1rem;
}

main .manage-faq input {
    background-color: #8D84DA;
    padding: 0.8rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 0 0.5rem grey;
    cursor: pointer;
}

main .manage-faq input:hover {
    background-color: #b6aff5;
}

.create-account-pg {
    width: 25%;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 0.8rem grey;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    margin-top: 2rem;
    display: none;
}

.createAccPgBC {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.915), rgba(255, 255, 255, 0.729));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    height: 70vh;
    display: none;
}

.create-account-pg .accBtnType {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;

}

.create-account-pg h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #0095D7;
}

.create-account-pg .accBtnType .btn {
    border: solid #0095D7 0.18rem;
    padding: 0.8rem 2rem;
    border-radius: 0.6rem;
    /* border:none; */
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 0 0.5rem grey;
    margin-right: 1.5rem;
    background-color: white;
    cursor: pointer;

}


.create-account-pg .accBtnType .active {
    background-color: #0095D7;
    border: none;
    color: white;

}

.create-account-pg form {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
}

.create-account-pg form.active {
    display: block;
}

.create-account-pg form .formDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.create-account-pg form .formDiv:last-of-type {
    margin-top: 2rem;
}

.create-account-pg form .formDiv label {
    font-weight: 500;
}

.create-account-pg form .formDiv input {
    width: 65%;
    padding: 0.2rem;
    border-radius: 1rem;
    border: solid grey 0.1rem;
}

.create-account-pg form .formDiv:last-of-type input {
    width: 45%;
    background-color: #49A787;
    font-weight: 600;
    padding: 0.4rem;
    box-shadow: 0 0 0.4rem grey;
    cursor: pointer;
    color: white;
}

.create-account-pg form .formDiv:last-of-type input:hover {
    background-color: #9ADDB9;
}

.create-account-pg form .formDiv:last-of-type input:last-of-type {
    background-color: #8D84DA;
}

.create-account-pg form .formDiv:last-of-type input:last-of-type:hover {
    background-color: #b6aff5;
}