main .doctor-info{
    height: fit-content;
}

main .doctor-info #doc-status label{
    width:100%;
    display: none;
    text-align: center;
    color: white;
    cursor:auto;
}
main .doctor-info #doc-status label:first-of-type:hover{
    color:white;
    background-color:#0095D7;
}
main .doctor-info #doc-status label:nth-of-type(2):hover{
    color: white;
    background-color: #49A787;
}
main .doctor-info #doc-status label.active{
    display: block;
}

main .doctor-info .doctor-details .doctor-detail:last-of-type{
    display: none;
}

main .doctor-schedule .schedule-infos .schedule-info:last-of-type{
    display: none;
}

.schedule-infos .schedule-info .time-ctrl1{
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}
.schedule-infos .schedule-info .time-ctrl1 span{
    width:25%;
}
.schedule-infos .schedule-info .time-ctrl1 span:last-of-type{
    width:5%;
}
.schedule-infos .schedule-info .time-ctrl1 input{
    width:25%;
}
.schedule-infos .schedule-info .time-ctrl2{
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}
.schedule-infos .schedule-info .time-ctrl2 span{
    width:25%;
}
.schedule-infos .schedule-info .time-ctrl2 span:last-of-type{
    width:5%;
}
.schedule-infos .schedule-info .time-ctrl2 input{
    width:25%;
}