body {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.897), rgba(255, 255, 255, 0.671)), url("../../Images/faqMbackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position-y: 100%;
    overflow: hidden;

}

footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    /* transform: translateY(-80%); */
    margin: 0;
}

/*start this */
#faq-container {
    width: 50%;
    height: 55%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #fffcf1;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 1.2rem rgb(0, 0, 0);
}
/* #faq-container:hover{
    scrollbar-width:auto;
} */

#faq-container h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #0095D7
}

#faq-container input[type="button"] {
    display: block;
    padding: 0.4rem;
    width: 10rem;
    border-radius: 0.8rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 0.5rem rgb(88, 88, 88);
    background-color: rgb(206, 26, 35);
    color: white;
    cursor: pointer;

    height: 2.5rem;
    margin-top: 1rem;
}

#faq-container input[type="submit"] {
    display: block;
    padding: 0.4rem;
    width: 10rem;
    border-radius: 0.8rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 0.5rem rgb(88, 88, 88);
    background-color: rgb(206, 26, 35);
    color: white;
    cursor: pointer;

    height: 2.5rem;
    margin-top: 1rem;
}
#faq-container .faq-item .edits a {
    display: block;
    padding: 0.4rem;
    padding-top: 0.5rem;
    width: 10rem;
    border-radius: 0.8rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 0.5rem rgb(88, 88, 88);
    background-color: rgb(206, 26, 35);
    color: white;
    cursor: pointer;
    text-decoration: none;
    height: 2.5rem;
    margin-top: 1rem;
    text-align: center;
}

#faq-container input[type="button"]:hover {
    background-color: rgb(253, 135, 141);
    color: black;
}

#faq-container .faq-item .edits a:hover {
    background-color: rgb(253, 135, 141);
    color: black;
}

#faq-container input[type="submit"]:hover {
    background-color: rgb(253, 135, 141);
    color: black;
}

#faq-container #add-faq {
    background-color: #0095D7;
    margin-left: 1.2rem;
}

#faq-container #add-faq:hover {
    background-color: #4ebbea;
}

#faq-container .faq-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1.5rem;
    margin: 1.2rem;
    border-radius: 1.2rem;
    box-shadow: 0 0 0.5rem rgb(126, 126, 126);
}

#faq-container .faqAdd {
    display: none;
    /* opacity: 0;
    transition: opacity 0.5s ease-in-out; */
}      

#faq-container .faqAdd textarea {
    margin-top: 1.2rem;
    width: 100%;
    resize: vertical;
    font-family: inherit;
}

#faq-container .faqAdd textarea,
#faq-container .faqAdd input:first-of-type {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: solid 0.1rem grey;
    width: 100%;
}

#faq-container .faqAdd input:last-of-type {
    background-color: #49A787;
}

#faq-container .faqAdd input:last-of-type:hover {
    background-color: #9ADDB9;
}

#faq-container .faq-item .question span {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

}

#faq-container .faq-item .answer {
    font-size: 1.1rem;
}